<h2 style="text-align:center;">Edit This Address</h2>
<%= render partial: 'partials/address',
  locals: { resource: [@user, @address],
            path: user_address_update_path(@user, @address),
            info: @address,
            show_nickname: true } %>
