<h2 style="text-align:center;">Add a New Address</h2>
<%= render partial: 'partials/address',
  locals: { resource: [@user, @address],
            path: user_addresses_path(@user),
            info: @address,
            show_nickname: true } %>
